
*{
    --background_banner:rgba(0,0,0,.6);
    --title_text:#fff;
    --cont_text:#ccc;
    --btn_color:#000;
    --btn_border:1px solid #000;
    --btn_background:rgba(255,255,255,.9);
    --btn_background_hover:rgba(255,255,255,.7);
}


.privacypolicy_bar{
    background-color:var(--background_banner);
    display:flex;
    flex-direction:column;
    position:absolute;
    z-index: 9999999;
    min-height: 5rem;
    padding:1rem;
    display:none;
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.privacypolicy_bar.top_full{
    width:100%;
    top:0px;
    left:0px;
    min-width: 100%;
}

.privacypolicy_bar.top_left{
    width:25%;
    top:0px;
    left:0px;
    min-width: 25%;
}

.privacypolicy_bar.top_right{
    width:25%;
    top:0px;
    right:0px;
    min-width: 25%;
}

.privacypolicy_bar.bottom_full{
    width:100%;
    bottom:0px;
    left:0px;
    min-width: 100%;
}

.privacypolicy_bar.bottom_left{
    width:25%;
    bottom:0px;
    left:0px;
    min-width: 25%;
}

.privacypolicy_bar.bottom_right{
    width:25%;
    bottom:0px;
    right:0px;
    min-width: 25%;
}

.privacypolicy_bar h2.cookie_title{
    color:var( --title_text) !important;
    width:100%;
    text-align:center !important;
    font-weight:bold !important;
}

.privacypolicy_bar p{
    color:var(--cont_text);
    width:100%;
    text-align:center;
    font-weight:bold;
}

.privacypolicy_bar .button_wrp{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.privacypolicy_bar .button_wrp a{
    color:var(--btn_color);
    border:var(--btn_border);
    background-color: var(--btn_background);
    padding:.5rem;
    margin-left: .5rem;
    margin-right:.5rem;
}

.privacypolicy_bar .button_wrp a:hover{
    background-color: var(--btn_background_hover);
}